body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #35465d;
}
.file-upload {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 7% 0%;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa;
} 

.btn{
	    padding: .375rem 1.5rem;
}


.file-upload-content {
	display: none;
	text-align: center;
}
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
.image-upload-wrap {
	margin-top: 20px;
	border: 4px dashed #1fb264;
	position: relative;
	object-fit: contain; /*초록박스 테두리 변환 */
	border-radius: 10px;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
	width: 70%;
	margin: 0 auto;
}
.image-dropping,
.image-upload-wrap:hover {
	background-color: #e4a5734d; /*마우스 올렸을때 디자인 수정*/
	border: 1.5px dashed #ffffff;
}
.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}
.drag-text {
	text-align: center;
}
.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
}
.file-upload-image {
	max-height: 60%;
	max-width: 60%;
	margin: auto;
	padding: 20px;
}
.try-again-btn {
	width : 12rem;
	height: 3rem;
	border-radius: 40px;
	border: solid 0.6rem #4892c1;
	background-color: #4892c1;
}
.try-again-text {
	display: block;
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
}

.instagram-btn {
	width: 12rem;
	height: 3rem;
	border-radius: 40px;
	border: solid 0.6rem #4892c1;
	background-color: #4892c1;
}
.instagram-text {
	display: block;
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
}
.instagram{
    width: 19%;
    padding-bottom: 4%;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}
.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
} /*끝 업로드 이미지 */
.nav-distance {
	/*제목 위치 퍼센티지로 설정*/
	padding: 2.1% 10.7%;
}
.navbar{
	font-size: 1.5rem;
}

.navbar-light .navbar-brand {
	font-size: 2.1rem;
	line-height: 1.68;
	text-align: left;
	color: #35465d;
} /*위에 기존에 컬러 설정이
됐는데 클래스가 두개여서 밀림 그래서 이것도 클래스를 두개 해줌으로서 씹히지 않음*/
.navbar-light .navbar-toggler {
	border-color: #ffffff;
} /*햄버거바 테두리를 없애려고 클래스 자체를 없애면 기능적
손상우려 그래서 그냥 덮어 씌움*/

.section {
	/*메뉴바와 제목 사이를 띄움*/
	margin-top: 1rem;
}
.title {
	/*제목 폰트 설정*/
	line-height: 1.67;
	text-align: center;
	color: #35465d;
}
.subtitle {
	/*부제목 폰트 설정*/
	line-height: 1.53;
	text-align: center;
	color: #35465d;
} /*600px이 되면 폰트사이즈가 10px로 바꾸고 메뉴바도 600px되면
변형 media query example 참조*/
@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.navbar-brand {
		font-size: 2rem;
	}
}


/*.youtube-link {
	font-size: 1.3rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
} /*hover는
마우스 올렸을때, 올렸을때 일치하게 만듬
.youtube-link:hover {
	font-size: 1.3rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}
.youtube-icon {
	width: 6%;
}*/


.upload-text {
	/*업로드 박스 안쪽 글씨*/
	font-size: 1.5rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
}
.upload {
	/*업로드 이미지 사진*/
	width: 25%;
}


/* 성별선택 */
/* {
  box-sizing: border-box;
}*/

input#gender { /*#gender를 선택 안하면 사진 input은 씹힘*/
  display: none;
}


label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.result-message{
	font-size : 2rem;
}

.animal-explain{
    font-size: 1.2rem;
}

.bar-container {
  height: 2.7rem;
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}

.animal-label {
	font-size : 1.4rem;
    width: 20%;
    text-align: left;    /**/
    height: 2rem;
}
#label-container {       /*이게 있어야 animal-label 이 안 접힘*/
    width: 80%;
    margin: 0 auto;
}

/*      강아지        */
.dog-box{
	position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
}
.dog-bar{
	position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
}
.dog-animal-title {
    color: #548dd4;
	font-size: 2.0rem;
}
.dog-animal-celeb {
    color: #548dd4;
    font-size: 1.7rem;
}

/*      토끼        */
.rabbit-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
}
.rabbit-bar{
	position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}
.rabbit-animal-title{
	color: #eba6be;
	font-size: 2.0rem;
}
.rabbit-animal-celeb{
	color: #eba6be;
	font-size : 1.7rem;
}

/*      공룡        */
.dinosaur-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}
.dinosaur-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
}
.dinosaur-animal-title{
	color: #75cc54;
	font-size: 2.0rem;
}
.dinosaur-animal-celeb{
	color: #75cc54;
	font-size : 1.7rem;
}

/*      고양이        */
.cat-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
}
.cat-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);;
}
.cat-animal-title{
	color: #fbb03b;
	font-size: 2.0rem;
}
.cat-animal-celeb{
	color: #fbb03b;
	font-size : 1.7rem;
}

/*      곰          */
.bear-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
}
.bear-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
}
.bear-animal-title{
	color: #c38c66;
	font-size: 2.0rem;
}
.bear-animal-celeb{
	color: #c38c66;
	font-size : 1.7rem;
}

/*      사슴        */
.deer-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}
.deer-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
}
.deer-animal-title{
	color: #75cc54;
	font-size: 2.0rem;
}
.deer-animal-celeb{
	color: #75cc54;
	font-size : 1.7rem;
}

/*      여우        */
.fox-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.fox-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
}
.fox-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.fox-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.koala-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.koala-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
}
.koala-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.koala-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.animal-image{
	width: 2%;
}

.top-pic{
	display: block;
	margin: 0 auto;
}
.privacy-box {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 2% 0%;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa;
}
.about-box {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 2% 0%;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa;
} 

.text3 {
    font-size: 1.9vh;
    margin-bottom: 1.2vh;
    word-break: break-all;
}
.border {
    border: 4px solid #dee2e6!important;
}