body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #35465d;
}
.file-upload {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 7% 0%;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-image: url('img/pattern.png');
	background-size : cover;
	background-repeat: no-repeat;

} 



.btn{
	    padding: .375rem 1.5rem;
}


.file-upload-content {
	display: none;
	text-align: center;
}
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
.image-upload-wrap {
	margin-top: 20px;
	border: 4px dashed #1fb264;
	position: relative;
	object-fit: contain; /*초록박스 테두리 변환 */
	border-radius: 10px;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
	width: 70%;
	margin: 0 auto;
}
.image-dropping,
.image-upload-wrap:hover {
	background-color: #e4a5734d; /*마우스 올렸을때 디자인 수정*/
	border: 1.5px dashed #ffffff;
}
.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}
.drag-text {
	text-align: center;
}
.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
}
.file-upload-image {
	max-height: 60%;
	max-width: 60%;
	margin: auto;
	padding: 20px;
}
.try-again-btn {
	width : 12rem;
	height: 3rem;
	border-radius: 40px;
	border: solid 0.6rem #4892c1;
	background-color: #4892c1;
}
.try-again-text {
	display: block;
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
}

.instagram-btn {
	width: 12rem;
	height: 3rem;
	border-radius: 40px;
	border: solid 0.6rem #4892c1;
	background-color: #4892c1;
}
.instagram-text {
	display: block;
	font-size: 1.3rem;
	text-align: center;
	color: #ffffff;
}
.instagram{
    width: 19%;
    padding-bottom: 4%;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}
.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
} /*끝 업로드 이미지 */
.nav-distance {
	/*제목 위치 퍼센티지로 설정*/
	padding: 2.1% 10.7%;
}
.navbar{
	font-size: 1.5rem;
	position: sticky; 
	top: 0;
	background-color: #FFE228;
	z-index: 1;
}

.navbar-light .navbar-brand {
	font-size: 2.1rem;
	line-height: 1.68;
	text-align: center;
	color: #35465d;
} /*위에 기존에 컬러 설정이
됐는데 클래스가 두개여서 밀림 그래서 이것도 클래스를 두개 해줌으로서 씹히지 않음*/
.navbar-light .navbar-toggler {
	border-color: #FFE228;
} /*햄버거바 테두리를 없애려고 클래스 자체를 없애면 기능적
손상우려 그래서 그냥 덮어 씌움*/

.section {
	/*메뉴바와 제목 사이를 띄움*/
	margin-top: 1rem;
}
.title {
	/*제목 폰트 설정*/
	line-height: 1.67;
	text-align: center;
	color: #35465d;
}
.subtitle {
	/*부제목 폰트 설정*/
	line-height: 1.53;
	text-align: center;
	color: #35465d;
} /*600px이 되면 폰트사이즈가 10px로 바꾸고 메뉴바도 600px되면
변형 media query example 참조*/
@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.navbar-brand {
		font-size: 2rem;
	}
}

.upload-text {
	/*업로드 박스 안쪽 글씨*/
	font-size: 1.5rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
}
.upload {
	/*업로드 이미지 사진*/
	width: 25%;
}


/* 성별선택 */
/* {
  box-sizing: border-box;
}*/

input#gender { /*#gender를 선택 안하면 사진 input은 씹힘*/
  display: none;
}


label {
  cursor: pointer;
  display: inline-block;
  width: 5.6rem;
  height: 2.5rem;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 2.5rem;
  top: 0;
  left: 0;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 0.25rem;
  height: 1.125rem;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 0.375rem;
  position: absolute;
  top: 42%;
  content: "";
  height: 0.25rem;
  background-color: #f470a7;
}

.knob > i:before {
  left: 0.25rem;
}
.knob > i:after {
  left: -0.25rem;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 0.5rem #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(3.063rem) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 0.9rem;
  width: 0.75rem;
  left: -0.438rem;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 0.8125rem;
  width: 0.75rem;
  left: 0px;
  transform: rotate(134deg);
}

.result-message{
	font-size : 3vh;
}

.animal-explain{
    font-size: 1.2rem;
}

.bar-container {
  height: 2.7rem;
}

.percent-text {
  font-size: 1.6vh;
  color: #ffffff;
}

.animal-label {
	font-size: 1.2rem;
    width: 23%;
    text-align: left;
    height: 2rem;
    margin-left: -2rem;
}
#label-container {       /*이게 있어야 animal-label 이 안 접힘*/
    width: 80%;
    margin: 0 auto;
}

/*      강아지        */
.dog-box{
	position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
}
.dog-bar{
	position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
	transition: width 2s;
}
.dog-animal-title {
    color: #548dd4;
	font-size: 2.0rem;
}
.dog-animal-celeb {
    color: #548dd4;
    font-size: 1.7rem;
}

/*      토끼        */
.rabbit-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
}
.rabbit-bar{
	position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
	transition: width 2s;
}
.rabbit-animal-title{
	color: #eba6be;
	font-size: 2.0rem;
}
.rabbit-animal-celeb{
	color: #eba6be;
	font-size : 1.7rem;
}

/*      공룡        */
.dinosaur-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}
.dinosaur-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
	transition: width 2s;
}
.dinosaur-animal-title{
	color: #75cc54;
	font-size: 2.0rem;
}
.dinosaur-animal-celeb{
	color: #75cc54;
	font-size : 1.7rem;
}

/*      고양이        */
.cat-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
}
.cat-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);;
	transition: width 2s;
}
.cat-animal-title{
	color: #fbb03b;
	font-size: 2.0rem;
}
.cat-animal-celeb{
	color: #fbb03b;
	font-size : 1.7rem;
}

/*      곰          */
.bear-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
}
.bear-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
}
.bear-animal-title{
	color: #c38c66;
	font-size: 2.0rem;
}
.bear-animal-celeb{
	color: #c38c66;
	font-size : 1.7rem;
}

/*      사슴        */
.deer-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}
.deer-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
	transition: width 2s;
}
.deer-animal-title{
	color: #75cc54;
	font-size: 2.0rem;
}
.deer-animal-celeb{
	color: #75cc54;
	font-size : 1.7rem;
}

/*      여우        */
.fox-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.fox-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
	transition: width 2s;
}
.fox-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.fox-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.rat-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.rat-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
	transition: width 2s;
}
.rat-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.rat-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.rat-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.sheep-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
	transition: width 2s;
}
.sheep-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.sheep-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.horse-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.horse-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
	transition: width 2s;
}
.horse-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.horse-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.koala-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}
.koala-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
	transition: width 2s;
}
.koala-animal-title{
	color: rgba(49, 132, 155, 1);
	font-size: 2.0rem;
}
.koala-animal-celeb{
	color: rgba(49, 132, 155, 1);
	font-size : 1.7rem;
}

.animal-image{
	width: 2%;
}

.top-pic{
	display: block;
	margin: 0 auto;
}

.about-box {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 2% 0%;
	border-radius: 10px;
	border: solid 1.5px #ffffff;
} 

.logo2{
	width:5.1rem;
}
.text3 {
    font-size: 1.9vh;
    margin-bottom: 1.2vh;
    word-break: break-all;
}
.border {
    border: 4px solid #dee2e6!important;
}

.firstpage{
	display: block;
    margin: 0px auto;
    width: 30rem;
	padding-top: 10rem;
	padding-bottom:8rem;
}
.file-save{
	background-color: #ffffff9c;
	margin-right: 1.5rem;
	margin-left:1.5rem;
}


/***********about*************/
input[id*="answer"]{
	display:none;
}

input[id*="answer"] +label{
    display: block;
    color: #4965A4;
    font-size: 2.9rem;
    background: #FFE228;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    box-shadow: none;
    width: 70%;
    height: 15rem;
    padding-top: 4.5rem;
    padding-left: 4rem;
}

input#answer01 +label em{
    position: absolute;
    width: 2.625rem;
    height: 12.375rem;
    margin-top: -3.813rem;
    display: inline-block;
    margin-left: -4.7rem;
    background-image: url(img/rabbit_orange.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all .35s;
}


input[id*= "answer"] +label+div{
	max-height:0;
	transition: all .35s;
	overflow:hidden;
	background:#ffffff;
	font-size:11px;
}

input[id*="answer"] +label+ div p{
	display:inline-block;
	padding:20px;
}

input[id*="answer"]:checked+label{
	color: #eb6519;
		transition: all .35s;
}

input[id*="answer"]:checked+label+div{
	max-height:40rem;
}

input[id*="answer"]:checked+label em{
	background-image: url(img/rabbit_blue.png);
    background-size: 100%;
    background-repeat: no-repeat;
		transition: all .35s;
}

input#answer02 +label{
    display: block;
    color: #4965A4;
    font-size: 2.5rem;
    background: #FFE228;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    box-shadow: none;
    width: 70%;
    height: 15rem;
    padding-top: 5.8rem;
}

input#answer02 +label em{
    position: absolute;
    width: 2.6rem;
    height: 12.375rem;
    margin-top: -3.813rem;
    display: inline-block;
    background-image: url(img/cat_orange.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all .35s;
	margin-left: -4.3rem;
}

input#answer02:checked+label{
	color: #eb6519;
		transition: all .35s;
}
input#answer02:checked+label em{
	background-image: url(img/cat_blue.png);
    background-size: 100%;
    background-repeat: no-repeat;
		transition: all .35s;
}

input#answer03 +label{
display: block;
    color: #4965A4;
    font-size: 2.6rem;
    background: #FFE228;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    box-shadow: none;
    width: 70%;
    height: 15rem;
    padding-top: 5.3rem;
    padding-left: 1.5rem;
}

input#answer03 +label em{
    position: absolute;
    width: 2.85rem;
    height: 12.375rem;
    margin-top: -2.813rem;
    display: inline-block;
    margin-left: -4.09rem;
    background-image: url(img/dog_orange.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all .35s;
}
input#answer03:checked+label{
	color: #eb6519;
		transition: all .35s;
}
input#answer03:checked+label em{
	background-image: url(img/dog_blue.png);
    background-size: 100%;
    background-repeat: no-repeat;
		transition: all .35s;
}
.picture{
	padding:2rem;
}
/**********explain************/
/*.slide input[id*="sl"]{
	display:none;
}
.slide .slidewrap{
	max-width:1200px;
	margin : 0 auto;
	overflow:hidden;
}
.slide .slidelist{
	white-space:nowrap;
	font-size:0;
}
.slide .slidelist >li{
	display: inline-block;
	vertical-align:middle;
	width:100%;
	transition: all 0.5s;
}
.slide .slidelist >li >a{
	display:block;
	position:relative;
	    margin-left: -3rem;
}

.slide .slidelist >li >a img{
	width:30%;
}
.slide .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-5o%);
    padding: 50px;
    cursor: pointer;
    box-shadow: none;
	margin-top: -4rem;
}
.slide .slidelist .left{
	left:5%;
	background:url('img/deer.png')center center / 30% no-repeat;
}
.slide .slidelist .right{
	right:5%;
	background:url('img/deer.png')center center / 30% no-repeat;
}
.slide .slide-control[class*="control"] {display:none;}



.slide [id="sl1"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(0%);
}
.slide [id="sl2"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-100%);
}
.slide [id="sl3"]:checked ~ .slidewrap .slidelist > li{
	transform:translateX(-200%);
}
.slide1 input[id*="sl"]{
	display:none;
}
.slide1 .slidewrap1{
	max-width:1200px;
	margin : 0 auto;
	overflow:hidden;
}
.slide1 .slidelist1{
	white-space:nowrap;
	font-size:0;
}
.slide1 .slidelist1 >li{
	display: inline-block;
	vertical-align:middle;
	width:100%;
	transition: all 0.5s;
}
.slide1 .slidelist1 >li >a{
	display:block;
	position:relative;
	    margin-left: -3rem;
}

.slide1 .slidelist1 >li >a img{
	width:30%;
}
.slide1 .slidelist1 label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-5o%);
    padding: 50px;
    cursor: pointer;
    box-shadow: none;
	margin-top: -4rem;
}
.slide1 .slidelist1 .left{
	left:5%;
	background:url('img/deer.png')center center / 30% no-repeat;
}
.slide1 .slidelist1 .right{
	right:5%;
	background:url('img/deer.png')center center / 30% no-repeat;
}

.slide1 [id="sl4"]:checked ~ .slidewrap1 .slidelist1 > li{
	transform:translateX(0%);
}
.slide1 [id="sl5"]:checked ~ .slidewrap1 .slidelist1 > li{
	transform:translateX(-100%);
}
.slide1 [id="sl6"]:checked ~ .slidewrap1 .slidelist1 > li{
	transform:translateX(-200%);
}

.slide2 input[id*="sl"]{
	display:none;
}
.slide2 .slidewrap2{
	max-width:1200px;
	margin : 0 auto;
	overflow:hidden;
}
.slide2 .slidelist2{
	white-space:nowrap;
	font-size:0;
}
.slide2 .slidelist2 >li{
	display: inline-block;
	vertical-align:middle;
	width:100%;
	transition: all 0.5s;
}
.slide2 .slidelist2 >li >a{
	display:block;
	position:relative;
	    margin-left: -3rem;
}

.slide2 .slidelist2 >li >a img{
	width:30%;
}
.slide2 .slidelist2 label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-5o%);
    padding: 50px;
    cursor: pointer;
    box-shadow: none;
	margin-top: -4rem;
}
.slide2 .slidelist2 .left{
	left:5%;
	background:url('img/deer.png')center center / 30% no-repeat;
}
.slide2 .slidelist2 .right{
	right:5%;
	background:url('img/deer.png')center center / 30% no-repeat;
}

.slide2 [id="sl7"]:checked ~ .slidewrap2 .slidelist2 > li{
	transform:translateX(0%);
}
.slide2 [id="sl8"]:checked ~ .slidewrap2 .slidelist2 > li{
	transform:translateX(-100%);
}
.slide2 [id="sl9"]:checked ~ .slidewrap2 .slidelist2 > li{
	transform:translateX(-200%);
}